<div class="client-info">
  <div class="section-title"><strong>Thông tin đương số</strong></div>
  <table>
    <tbody>
      <tr>
        <td class="label">Họ và tên:</td>
        <td class="info"><strong>{{fullName}} ({{gender}})</strong></td>
      </tr>
      <tr>
        <td class="label">Ngày sinh:</td>
        <td class="info"><strong>{{birthHour}}, ngày {{birthDay}}/{{birthMonth}}/{{birthYear}} (Dương lịch)</strong></td>
      </tr>
      <tr>
        <td class="label">Email/SĐT:</td>
        <td class="info"><strong>{{contactDetail}}</strong></td>
      </tr>
    </tbody>
  </table>
</div>