<div class="user-info">
  <div class="section-title"><strong>Thông tin đương số</strong></div>
  <table>
    <tbody>
      <tr>
        <td class="label"><strong>Họ và tên:</strong></td>
        <td class="info">{{fullName}} ({{gender}})</td>
      </tr>
      <tr>
        <td class="label"><strong>Ngày sinh:</strong></td>
        <td class="info">{{birthHour}}, ngày {{birthDay}}/{{birthMonth}}/{{birthYear}} (Dương lịch)</td>
      </tr>
      <tr>
        <td class="label"><strong>Email/SĐT:</strong></td>
        <td class="info">{{contactDetail}}</td>
      </tr>
    </tbody>
  </table>
</div>