body {
  font-family: 'Myriad Pro', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.report.container {
  border: 1px dotted lightgray;
  display: flex;
  padding: 50px;
  width: 1240px;

  table {
    flex: 1;

    td {
      text-align: left;
    }
  }
}
