body {
  font-family: 'Myriad Pro', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.report-content {
  background: lightpink;
  width: 800px;
  display: flex;

  table {
    flex: 1;

    td {
      text-align: left;
    }
  }
}
