@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/Myriad-Pro.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url("../static/fonts/Myriad-Pro-Bold.ttf");
}

$bigPadding: 100px;
$fontSize: 18pt;
$normalPadding: 50px;
$smallPadding: 25px;
$tinyPadding: 12px;

body {
  margin: 0;
}

.report {
  display: flex;
  flex-direction: column;
  font-family: "Myriad Pro", Arial, sans-serif;
  margin: auto;
  max-width: 800px;
  min-width: 350px;
  text-align: center;
  width: 100%;
}

.wooden {
  align-items: center;
  color: #d7b777;
  display: flex;
  justify-content: space-between;
  padding: $normalPadding;

  .title {
    font-size: $fontSize;
  }

  a {
    color: #d7b777;
  }
}

.eof {
  font-family: serif;
  font-size: $fontSize;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  text-align: right;

  .digital-addresses {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .separator {
    margin: 0 10px;
  }

  .label {
    margin-right: 5px;
  }
}

.client-info table {
  padding: 0 $normalPadding;
  width: 100%;

  tr {
    line-height: 30px;
  }

  td {
    text-align: left;
  }

  td.label {
    width: $bigPadding;
  }
}

.chart img {
  width: 80%;
}

.section-title {
  background: url("../static/images/bg-section.jpg") no-repeat;
  color: #d7b777;
  font-size: 13pt;
  margin: $tinyPadding 0;
  padding-bottom: 3px;
  padding-top: 5px;
  text-transform: uppercase;
}

.report .header {
  background: url("../static/images/bg-header.jpg") no-repeat bottom right;
  background-position-y: -15px;

  .logo {
    background: url('../static/images/logo.png') no-repeat center;
    background-size: cover;
    height: 75px;
    width: 75px;
  }

  .title {
    text-align: right;
    text-transform: uppercase;
    width: 60%;
  }
}

.report .content {
  .text-block {
    margin: 0 $normalPadding;
    text-align: justify;
  }
}

.report .footer {
  background: url("../static/images/bg-footer.jpg") no-repeat top center;
  background-size: cover;
  justify-content: flex-end;
  margin-top: $tinyPadding;
}
